chatappdockerized/MediaHandler/src/main/mule/mediahandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="dbb57ee9-692f-45ca-9dc9-284aa030a6f8" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/chatapp" driverClassName="org.postgresql.Driver" user="postgres" password="root" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config_87" doc:name="HTTP Listener config" doc:id="09d78e3e-7890-4d72-a452-076b1b365ba0" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<kafka:consumer-config name="MediaConsumer" doc:name="Apache Kafka Consumer configuration" doc:id="289984f0-9564-4964-aa60-a26a3db893ac" >
		<kafka:consumer-plaintext-connection >
			<kafka:bootstrap-servers >
				<kafka:bootstrap-server value="localhost:9092" />
			</kafka:bootstrap-servers>
			<kafka:topic-patterns >
				<kafka:topic-pattern value="MediaTopic" />
			</kafka:topic-patterns>
		</kafka:consumer-plaintext-connection>
	</kafka:consumer-config>
	<kafka:consumer-config name="ReadConsumer" doc:name="Apache Kafka Consumer configuration" doc:id="7f2fcb05-8f25-476d-8a94-073b80c1cfbd" >
		<kafka:consumer-plaintext-connection >
			<kafka:bootstrap-servers >
				<kafka:bootstrap-server value="localhost:9092" />
			</kafka:bootstrap-servers>
			<kafka:topic-patterns >
				<kafka:topic-pattern value="fileread" />
			</kafka:topic-patterns>
		</kafka:consumer-plaintext-connection>
	</kafka:consumer-config>
	<flow name="InitializeTable" doc:id="06290756-b3e0-41ac-ac12-cc0c6c9be4ab" >
		<scheduler doc:name="Scheduler" doc:id="dbea50e2-d331-407f-b44d-e1503d91222f">
			<scheduling-strategy>
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<db:execute-script doc:name="Create table " doc:id="91af5cfe-3cdc-41cd-820d-e4dc00c4cfb4" config-ref="Database_Config">
			<db:sql ><![CDATA[CREATE TABLE IF NOT EXISTS media (
  fileid Varchar(8) PRIMARY KEY,
  filetype VARCHAR(10),
  name VARCHAR(20),
  chatid VARCHAR(20),
  sender VARCHAR(20),
  path TEXT,
  sent_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  msgread BOOLEAN
);
]]></db:sql>
		</db:execute-script>
	</flow>
	<flow name="GetAllMedia" doc:id="a4cb33bb-4b0c-4e52-bdcb-8e6a18dc6925" >
		<http:listener doc:name="Listener" doc:id="ef05466b-875f-494a-86c0-e8b199a11898" path="/getmedia" config-ref="HTTP_Listener_config_87"/>
		<db:select doc:name="Select ALL" doc:id="497be08d-01e1-4bbc-9371-299885801bac" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from media;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Display payload" doc:id="8f5956a5-aceb-42b9-9780-e81472033ba2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="ListofIDs" doc:id="88d2434f-8927-403d-9974-445335e4bb6d" >
		<http:listener doc:name="Listener" doc:id="22917396-8c4a-4615-b249-61dab358f104" config-ref="HTTP_Listener_config_87" path="/idlist"/>
		<db:select doc:name="Fetch ID" doc:id="57520acf-6eae-4924-adb7-5a4fd829d762" config-ref="Database_Config">
			<db:sql ><![CDATA[Select fileid from media;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform to List&lt;String&gt;" doc:id="fe1e4eb3-b8a3-49be-b229-810ae388227f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map $.fileid]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Insertdata" doc:id="d7e4dbaa-8df4-48ec-919b-9573442ca2d0" >
		<http:listener doc:name="Data insert API" doc:id="dc1843c0-bc95-4f9f-90fb-ea629b1739cb" config-ref="HTTP_Listener_config_87" path="/addmedia" allowedMethods="POST"/>
		<flow-ref doc:name="Flow Reference" doc:id="93e5e330-7e04-4fed-96ba-4ac06c8f4498" name="InsertDataQuery"/>
	</flow>
	<flow name="FindByChatID" doc:id="f0c20cd2-1261-40d6-b257-d1b8d518652f" >
		<http:listener doc:name="FindByChat" doc:id="2f0a176a-96b5-4756-ad64-90d3a528ba3f" config-ref="HTTP_Listener_config_87" path="/media/getchatmedia"/>
		<set-variable value="#[attributes.queryParams.chatid]" doc:name="Save Chatid" doc:id="66805642-1d51-46cf-8b49-33afac74ba8e" variableName="chatid" />
		<flow-ref doc:name="Flow Reference" doc:id="56bf2be2-fb11-4681-ba5a-3aa086e03694" name="RetrieveByChat"/>
	</flow>
	<flow name="RetrieveByChat" doc:id="3b77ec9f-4254-4a42-9962-19142d08b990" >
		<db:select doc:name="Find all media in given chat" doc:id="670ca77d-0af1-4292-a353-8150d56b3118" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * from media where chatid = :chatid ;]]></db:sql>
			<db:input-parameters ><![CDATA[#[chatid: vars.chatid default ""]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Convert to Json" doc:id="e5954dc5-9766-49bb-b1ce-21e0481e8c82" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="MediaListener" doc:id="986187a9-fc3b-4245-9e45-112885a5108d" >
		<kafka:message-listener doc:name="Listen for Media Object" doc:id="035920c8-6474-49d9-95dc-e15cfb0b4a2c" config-ref="MediaConsumer"/>
		<ee:transform doc:name="Convert binary to Application/java" doc:id="3e7097bd-624a-4564-bfc3-9796c0c93e55" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var body = read(payload, "application/json")
---
{
  id: body.fileid,
  filetype: body.filetype,
  name: body.name,
  path: body.path,
  chat: body.chatid,
  sender: body.sender,
  msgread: body.msgread
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Insert into table" doc:id="c62ddeb3-f8e1-4a00-8650-fb57204d9e69" name="InsertDataQuery"/>
	</flow>
	<flow name="mediahandlerFlow" doc:id="4b31fb98-24d4-4388-bb85-32095036a5d1" >
		<kafka:message-listener doc:name="Message listener" doc:id="5594ab9c-c0c3-4111-b72d-92ced16ae20a" config-ref="ReadConsumer"/>
		<ee:transform doc:name="Transform Message" doc:id="afc50066-76f9-4266-b579-635c2a6b269a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  id: payload[1 to -2]
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="13aa2936-ff6b-4de9-a701-6b19e9933ed4" config-ref="Database_Config">
			<db:sql ><![CDATA[update media set msgread = true where fileid = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
  "id": payload.id
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="f3f846d9-1b75-4478-a7ce-3ebe3b87e39d" message='#["set to read "]'/>
	</flow>
	<flow name="InsertDataQuery" doc:id="116b2e51-2f6b-4547-820e-396fc3d7d68e" >
		<set-variable value="#[{	id: payload.id,&#10;    name: payload.name,&#10;    ftype:payload.filetype,&#10;    user:payload.sender,&#10;    chat:payload.chatid,&#10;    path:payload.path,&#10;}]" doc:name="Set Variable" doc:id="ed4bd68d-ed43-4507-a6c9-150bf7e7bbd4" variableName="NewFile"/>
		<db:insert doc:name="Insert file" doc:id="5ec7988e-3509-4838-9f9e-47697272b882" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into media (fileid,filetype,name,path,chatid,sender,msgread) values(:id,:ftype,:name,:path,:chatid,:sender,:msgread);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:vars.NewFile.id,
	ftype:vars.NewFile.ftype,
	name: vars.NewFile.name,
	path: vars.NewFile.path,
	chatid: vars.NewFile.chat,
	sender: vars.NewFile.user,
	msgread:false
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="0bab9b4e-0856-45ac-9da3-dde63ffb2bf1" message='#["Inserted into table : " ++ vars.NewFile ++" successfully"]'/>
	</flow>
</mule>
